<%= render "shared/errors", obj: @member %>

<table class="attr">
  <tr>
    <th><%= f.label :number, :number %></th>
    <td><%= f.text_field :number, size: 8 %></td>
  </tr>
  <tr>
    <th><%= f.label :name, :name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :full_name, :full_name %></th>
    <td><%= f.text_field :full_name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <%= f.radio_button :gender, 0 %>
      <%= f.label :gender_0, :gender_0 %>
      <%= f.radio_button :gender, 1 %>
      <%= f.label :gender_1, :gender_1 %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :birthday, :birthday, for: "member_birthday_li" %></th>
    <td>
      <%= f.date_select :birthday, start_year: 1940, end_year: Time.now.year, user_month_numbers: true %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :email, :email %></th>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <th>管理者</th>
    <td>
      <%= f.check_box :administrator %>
      <%= f.label :administrator, :administrator %>
    </td>
  </tr>
  <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password %></td>
  </tr>
  <tr>
      <th><%= f.label :password_confirmation %></th>
      <td><%= f.password_field :password_confirmation %></td>
  </tr>
</table>

<% unless @member.new_record? %>
  <p>パスワードを変更しないときは、パスワード入力欄を空にしてください。</p>
<% end %>
